*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1150px;
    margin: 5px auto;
    padding-left: 25px;
    padding-right:25px ;
    padding-bottom: 45px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 10 20px;
}
nav{
    flex:1;
    text-align: right;
}
.logo .navimg{
    height: 70px;
    width:130px;
    animation: footer infinite 5s ;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
}
nav ul li:hover{
   text-decoration: underline;
}
a{
    text-decoration: none;
    color:#555;
}
p{
    color:#555;
    font-size: 17px;
    line-height: 25px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    height: 100%;
    padding: 10px 0;
    margin-left: 40px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 6px 15px;
    margin: 20px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
  background: #7e1f1f;
}
.header{
    background:radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top:60px;
}

/* features categories */

.categories{
    margin:70px 0;
}
.col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom:30px;
}
.col-3 img{
    width: 300px;
    height: 330px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 40px;
    transition: transform 0.5s;
    cursor: pointer;
}
.col-3 img:hover{
    transform: scale(1.1);
}
.small-container{
    max-width: 1000px;
    margin:auto;
}

/* featured products */
.col-4{
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 200px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
}
.title{
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    color:#410202f7;
    text-decoration: underline;
    margin-bottom: 30px;
}
h4{
    color:#555;
    margin-top: 5px;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating p{
    margin-top: 3px;
    font-size: 23px;
    color:orange;
}
.col-4:hover{
    transform: translateY(-8px);
}


/* offer  */
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 50px;
    padding: 80px 0;
}
.col-2 .offer-img{
    height: 350px;
    width: 280px;
    transform: rotate(30deg);
    cursor: pointer;
}
small{
    color:#555;
    font-size: 15px;
    line-height: 20px;
}


/* testimonal   */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px  rgba(0, 0, 0, 0.609);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover{
    transform: translatey(-10px);
}
.testimonial .col-3  img{
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%; 
    cursor:pointer;
}

.testimonial .col-3 i{
    color: orange;
    font-size: 60px;
}
.testimonial .col-3 p{
    font-size: 14px;
    color: #777;
    margin: 12px 0;

}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/* -----------brands---------- */
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}
.col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.col-5 img:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
}


/* ------------footer------------ */
.footer {
    background: #000;
    color:#8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color:#8a8a8a;
}
.footer h3{
   color:#fff;
   margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis:30% ;
}
.footer-col-1 .btn{
    outline:none;
    border:none;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width:100px;
    height: 100px;
    margin-bottom: 20px;
    animation: footer infinite 5s ;
}
@keyframes footer {
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.5);
    }
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    display: none;
}



/* -----------media query for menu bar--------- */
@media only screen and (max-width:500px) {
    nav ul{
        position: absolute;
        top:70px;
        left:0px;
        background: #333;
        width: 100%;
        overflow: hidden;  /*to hide the menu bar after width reduce */
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin:20px auto;
        text-align: center;
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
        text-align: center;
    }
    
    .col-2, .col-3, .col-4 img{
        height: 100%;
        width: 100%;
    }
    .offer{
        background: radial-gradient(#fff,#ffd6d6);
        padding: 80px 50px;
    }
    .col-2 .offer-img{
        height: 80%;
        width: 80%;
    }
    .testimonial .col-3{
       margin: 30px 30px;
    }
    .brands{
        text-align: center;
    }
   
}

